:root {
    --main-color: rgba(255, 166, 0, 0.866);
}

body {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

header {
    display: flex;
    justify-content: center;
    grid-column: col-start / span 6;

    /* box-sizing: border-box; */
    /* padding: 30px; */
}

.main-section {
    display: flex;
    justify-content: center;
    grid-column: col-start 7 / span 6;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 500px;
    padding: 0 30px;
    gap: 20px;
}

.logo-container {
    width: 300px;
}

.banner p {
    width: 100%;;
    font-size: 1.3rem;
    color: #6f6f6f;
}

.main-section {
    background-color: var(--main-color);
}

.form-container {
    width: 22.125rem;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 5%;
    height: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.field label {
    font-weight: bold;
}

.text-field {
    width: 100%;
    height: 3.125em;
    font-size: .9em;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 15px;
    border: 1px solid gray;
}

.text-field:focus {
    outline: 2px solid orange;
    border: none;
    box-shadow: 0 0 5px orange;
}

.field a {
    margin: auto;
}

.submit-login {
    width: 50%;
    height: 3em;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

@media (max-width: 810px) {

    body {
        grid-template-rows: 30% auto;
    }
    .header-main-container {
        flex-direction: column;
    }

    .main-section {
        background-color: white;
        grid-column: col-start / span 12;
    }

    header {
        background-color: var(--main-color);
        justify-content: center;
        grid-column: col-start / span 12;
    }

    .banner {
        align-items: center;
        text-align: center;
    }

    .banner p {
        width: 100%;
        color: white;
        font-size: 1.2rem;
    }
    
    .logo-container {
        width: 70%;
        height: auto;
    }

    .form-container {
        height: 70%;
    }

}

@media (max-width: 426px) {
    .login-container {
        box-shadow: none;
        width: 100%;
        height: 100%;
    }
}