:root {
    --primary-banner-color: orange;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    font-family: "Overpass", sans-serif;
}

.shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.333);
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.logo-container {
    display: block;
    width: 300px;
}

.form-container {
    height: 60%;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
}

.img-container {
    height: 100%;
}